<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--上面2行的是约束依赖，固定照抄就好-->
<!--下面的才是要自己编写的地方-->
<!--写mapper的配置文件第一步就是要写<mapper></mapper>标签-->
<!--<mapper></mapper>标签里包含着各个CURD操作的SQL语句-->
<mapper namespace="com.infinitus.bms_oa.wms_store.mapper.W_STORE_SKUS_Mapper">
    <!--定义一个名为BaseResultMap的返回类型-->
    <resultMap id="BaseResultMap" type="com.infinitus.bms_oa.wms_store.empty.W_STORE_SKUS">

        <result column="store_no" property="store_no" jdbcType="VARCHAR"></result>
        <result column="store_fullName" property="store_fullName" jdbcType="VARCHAR"></result>
        <result column="store_shortName" property="store_shortName" jdbcType="VARCHAR"></result>
        <result column="store_spuNo" property="store_spuNo" jdbcType="VARCHAR"></result>
        <result column="store_url" property="store_url" jdbcType="VARCHAR"></result>
        <result column="store_type" property="store_type" jdbcType="VARCHAR"></result>
        <result column="store_number" property="store_number" jdbcType="INTEGER"></result>
        <result column="store_size" property="store_size" jdbcType="INTEGER"></result>
        <result column="store_totalPages" property="store_totalPages" jdbcType="INTEGER"></result>
        <result column="store_totalElements" property="store_totalElements" jdbcType="INTEGER"></result>
        <result column="syn_date" property="syn_date" jdbcType="VARCHAR"></result>
    </resultMap>
    <!--插入语句-->
    <!--id要与W_STORE_SKUS_Mapper文件中表示插入的函数名一致，parameterType表示函数的输入参数的类型-->
    <insert id="insertW_STORE_SKUS" parameterType="com.infinitus.bms_oa.wms_store.empty.W_STORE_SKUS">
      insert into W_STORE_SKUS(store_no,store_fullName,store_shortName,store_spuNo,store_url,store_type,store_number,
        store_size,store_totalPages,store_totalElements,syn_date)
      values(#{store_no,jdbcType=VARCHAR},#{store_fullName,jdbcType=VARCHAR},#{store_shortName,jdbcType=VARCHAR},
      #{store_spuNo,jdbcType=VARCHAR},#{store_url,jdbcType=VARCHAR},#{store_type,jdbcType=VARCHAR},#{store_number,jdbcType=INTEGER}
      ,#{store_size,jdbcType=INTEGER},#{store_totalPages,jdbcType=INTEGER},#{store_totalElements,jdbcType=INTEGER},#{syn_date,jdbcType=VARCHAR})/*SQL语句*/
    </insert>

    <!--删除语句-->
    <delete id="deleteW_STORE_SKUS" parameterType="java.lang.Integer">
      delete from W_STORE_SKUS
    </delete>

    <!--查找语句-->
    <!--resultMap表示函数返回的类型-->
    <select id="selectW_STORE_SKUS"  resultMap="BaseResultMap">
       select * from W_STORE_SKUS
    </select>

    <!--修改语句-->
    <update id="updateW_STORE_SKUS" parameterType="com.infinitus.bms_oa.wms_store.empty.W_STORE_SKUS">

    </update>
</mapper>